// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

.header-flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}

.header-flat-owner {
  padding: 20px;
}

.header-flat-name h1 {
  font-size: 18px;
  margin-top: 0;
}

.header-flat form {
  margin: 20px 0;
  margin-right: 0;
  background: #F4F4F4;
  padding: 15px;
  border-radius: 3px;
}
